

img{
	max-height: 100%;
	max-width: 100%;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: 0px; 
	float:left;	
}

li{
	display:inline-block;
}

.col_1 {
    float: left;
    width: 75%;
    margin-top: 6px;
	
}

.col_2 {
    float: left;
    width: 25%;
    margin-top: 6px;
	text-align: right;
}

.encabezado{
	width: 99%;
	margin: 0px;
	padding: 10px;
	background-color: white;
}

.logo{
	display: block;
	margin-left: 0;

}


.fila {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  .columna {
	flex: 25%;
	padding: 0 4px;
  }
  

